:root {
    --gap-size: 10px;
}

body {
    margin:0;
    padding: var(--gap-size);
    min-height: 100vh;
    display: grid;
    gap: var(--gap-size);
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: rgb(241, 114, 114);
}


.card {
    border:solid;
    border-color: black;
    white-space: pre-line;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
    color: rgb(26, 164, 52);
    font-weight: 900;
    font-size: 19px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#libraryForm { 
    min-height: auto;
    min-width: auto;
    padding: var(--gap-size);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:var(--gap-size)
}

input {
    display:flex;
    border-radius: var(--gap-size);
}

button {
    padding: 5px 20px 5px 20px;
    border-radius: var(--gap-size);
    background-color: aquamarine;
    border: solid;
    border-width: 1px;
    font-weight: 900;
    color: rgb(42, 33, 210);
    border-color: blueviolet;
    font-size: 17px;
}

