:root {
    --gap-size: 10px;
}

body {
    margin:0;
    padding: var(--gap-size);
    min-height: 100vh;
    display: grid;
    gap: var(--gap-size);
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
}


.card {
    border:solid;
    border-color: black;
    white-space: pre-line;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#libraryForm { 
    min-height: auto;
    min-width: auto;
    padding: var(--gap-size);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:var(--gap-size)
}

input {
    display:flex;
    border-radius: var(--gap-size);
}

